<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Nuevo Artículo de Venta</title>
    <!-- Agrega las referencias a los archivos de Bootstrap desde un CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        /* Puedes agregar estilos personalizados aquí si es necesario */
        body {
            background-color: #f8f9fa;
        }
        .container {
            background-color: #ffffff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            padding: 20px;
            margin-top: 20px;
        }
        .card {
            margin-top: 20px;
            overflow-y: auto; /* Agrega una barra de desplazamiento vertical si el contenido excede la altura */
            max-height: 400px; /* Establece una altura máxima, ajusta según tus necesidades */
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Nombre</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <!-- Este bloque se mostrará solo si navbarIndicator es verdadero -->
            <li th:if="${navbarIndicator}" class="nav-item active" style="position: relative;">
                <a class="nav-link" href="/articulos/new">Artículos</a>
                <div style="position: absolute; top: 50%; right: 0; transform: translate(0, -50%); background-color: red; width: 5px; height: 5px; border-radius: 50%;"></div>
            </li>

            <!-- Este bloque se mostrará solo si navbarIndicator es falso -->
            <li th:unless="${navbarIndicator}" class="nav-item active">
                <a class="nav-link" href="/articulos/new">Artículos</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/vendedor/listado">Vendedores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/clientes/new">Clientes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ventaArticulo/new">Ventas</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <h2>Nueva Venta Forma de Pago</h2>

    <form th:action="@{'/ventaFormaDePago/new/' + ${venta.getId()}}" th:object="${ventaFormaDePago}" method="post">

        <label for="formaDePago">Forma de Pago:</label>
        <select id="formaDePago" name="formaDePago" th:field="*{formaDePago}">
            <option th:each="formaDePago : ${formasDePago}" th:value="${formaDePago.id}" th:text="${formaDePago.tipo}"></option>
        </select>

        <div class="form-group" id="cuotasField">
            <label for="cuotas">Cuotas:</label>
            <input type="number" class="form-control" id="cuotas" th:field="*{cuotas}" required>
            <span th:if="${#fields.hasErrors('cuotas')}" th:errors="*{cuotas}">Error en cuotas</span>
        </div>

        <div class="form-group" id="interesField">
            <label for="interes">Interes:</label>
            <input type="number" class="form-control" id="interes" th:field="*{interes}" required>
            <span th:if="${#fields.hasErrors('interes')}" th:errors="*{interes}">Error en interes</span>
        </div>

        <div class="form-group" id="descuentoField">
            <label for="descuento">Descuento:</label>
            <input type="number" class="form-control" id="descuento" th:field="*{descuento}" required>
            <span th:if="${#fields.hasErrors('descuento')}" th:errors="*{descuento}">Error en descuento</span>
        </div>

        <p>Valor de la venta: <span th:text="${valorVenta}"></span></p>
        <p>Valor por cuota: <span th:text="${valorCuotas}"></span></p>
        <p>Valor del interes por cuota: <span th:text="${valorInteresPorCuota}"></span></p>
        <p>IVA: 21% </p>
        <p>Valor final: <span th:text="${valorfinal}"></span></p>

        <button type="submit">Calcular cuota</button>
    </form>

    <form th:action="@{'/ventaFormaDePago/guardar/' + ${venta.id}}" method="get">
        <button type="submit">Guardar Venta</button>
    </form>
</div>

<script>
    document.getElementById('formaDePago').addEventListener('change', function() {
        var formaDePago = this.value;
        var cuotasField = document.getElementById('cuotasField');
        var interesField = document.getElementById('interesField');
        var descuentoField = document.getElementById('descuentoField');

        // Ocultar todos los campos
        cuotasField.style.display = 'none';
        interesField.style.display = 'none';
        descuentoField.style.display = 'none';

        // Mostrar los campos según la forma de pago seleccionada
        if (formaDePago === '1') { // Suponiendo que 'CREDITO' tiene un value de '1'
            cuotasField.style.display = 'block';
            interesField.style.display = 'block';
            document.getElementById('descuento').value = 0; // Establecer cuotas en 1

        } else if (formaDePago === '3') { // Suponiendo que 'EFECTIVO' tiene un value de '5'
            descuentoField.style.display = 'block';
            document.getElementById('cuotas').value = 1; // Establecer cuotas en 1
            document.getElementById('interes').value = 1; // Establecer interés en 1
        } else if (formaDePago === '2' || formaDePago === '5' || formaDePago === '4') { // Suponiendo los values de 'DEBITO', 'TRANSFERENCIA' y 'CHEQUE'
            interesField.style.display = 'block';
            document.getElementById('cuotas').value = 1; // Establecer cuotas en 1
            document.getElementById('descuento').value = 0; // Establecer cuotas en 1
        }
    });
</script>




<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script th:inline="javascript">
    // Este script usa Thymeleaf para obtener el valor seleccionado en el dropdown de formaDePago
    var formaDePagoDropdown = document.getElementById('formaDePago');
    var cuotasInput = document.getElementById('cuotas');
    var interesInput = document.getElementById('interes');

    // Definimos una función para habilitar/deshabilitar campos según la opción seleccionada
    function habilitarCampos() {
        // Obtener el valor seleccionado en el dropdown
        var formaDePago = formaDePagoDropdown.value;

        // Habilitar o deshabilitar la casilla de cuotas e interes según la opción seleccionada
        cuotasInput.disabled = formaDePago === 'DEBITO' || formaDePago === 'TRANSFERENCIA' || formaDePago === 'CHEQUE';
        interesInput.disabled = formaDePago === 'DEBITO' || formaDePago === 'TRANSFERENCIA' || formaDePago === 'CHEQUE';

        // Si la forma de pago es DEBITO, TRANSFERENCIA o CHEQUE, establecer cuotas en 1
        if (formaDePago === 'DEBITO' || formaDePago === 'TRANSFERENCIA' || formaDePago === 'CHEQUE') {
            cuotasInput.value = 1;
        }
    }

    // Agregamos un evento change al dropdown de formaDePago
    formaDePagoDropdown.addEventListener('change', function() {
        // Llamamos a la función para habilitar/deshabilitar campos
        habilitarCampos();
    });

    // Ejecutamos el evento change al cargar la página para asegurarnos de que los campos estén en el estado correcto
    formaDePagoDropdown.dispatchEvent(new Event('change'));
</script>

</body>
</html>
