<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Nuevo Artículo</title>
    <!-- Agrega las referencias a los archivos de Bootstrap desde un CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        /* Puedes agregar estilos personalizados aquí si es necesario */
        body {
            background-color: #f8f9fa;
        }
        .container {
            background-color: #ffffff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            padding: 20px;
            margin-top: 20px;
        }
        .card {
            margin-top: 20px;
        }
    </style>
</head>
<body>

<div class="container">
    <h4 class="mt-4">Nuevo Artículo</h4>

    <!-- Formulario para crear un nuevo artículo -->
    <form th:action="@{/articulos}" th:object="${art}" method="post">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" th:field="*{nombre}" placeholder="Nombre del artículo" required>
            </div>
            <div class="form-group col-md-4">
                <label for="precio">Precio</label>
                <input type="number" class="form-control" id="precio" th:field="*{precio}" placeholder="Precio del artículo" required>
            </div>
            <div class="form-group col-md-4">
                <label for="stock">Stock</label>
                <input type="number" class="form-control" id="stock" th:field="*{stock}" placeholder="Stock del artículo" required>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Crear</button>
    </form>


    <!-- Tabla para mostrar la lista de artículos -->
    <div class="card">
        <div class="card-header">
            <h5>Lista de Artículos</h5>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Stock</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="articulo : ${listaArticulos}">
                    <td th:text="${articulo.nombre}"></td>
                    <td th:text="${articulo.precio}"></td>
                    <td th:text="${articulo.stock}"></td>
                    <td>
                        <button class="btn btn-info btn-sm" data-toggle="collapse" th:data-target="'#detallesExtras' + ${articulo.id}">Detalles</button>
                        <a th:href="@{'/articulos/eliminar/' + ${articulo.id}}" class="btn btn-danger btn-sm ">Eliminar</a>
                        <a th:href="@{'/articulos/editar/' + ${articulo.id}}" class="btn btn-warning btn-sm">Editar</a>
                    </td>
                </tr>

                </tbody>

            </table>
            <div th:each="articulo : ${listaArticulos}" th:id="'detallesExtras' + ${articulo.id}" class="collapse">
                <p><strong>Nombre:</strong> <span th:text="${articulo.nombre}"></span></p>
                <p><strong>Precio:</strong> <span th:text="${articulo.precio}"></span></p>
                <p><strong>Stock:</strong> <span th:text="${articulo.stock}"></span></p>
                <!-- Agrega más detalles según sea necesario -->
            </div>
        </div>
    </div>
</div>



<!-- Agrega las referencias a los archivos de Bootstrap JavaScript y jQuery desde un CDN al final del cuerpo del documento -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
