<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Nueva Venta</title>
    <!-- ESTE HTML SE VA A ELIMINAR, USAMOS EL DE HOME/VENTARTICULO/NEW -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        /* Puedes agregar estilos personalizados aquí si es necesario */
        body {
            background-color: #f8f9fa;
        }
        .container {
            background-color: #ffffff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            padding: 20px;
            margin-top: 20px;
        }
        .card {
            margin-top: 20px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Nombre</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <!-- Este bloque se mostrará solo si navbarIndicator es verdadero -->
            <li th:if="${navbarIndicator}" class="nav-item active" style="position: relative;">
                <a class="nav-link" href="/articulos/new">Artículos</a>
                <div style="position: absolute; top: 50%; right: 0; transform: translate(0, -50%); background-color: red; width: 5px; height: 5px; border-radius: 50%;">
                </div>
            </li>

            <!-- Este bloque se mostrará solo si navbarIndicator es falso -->
            <li th:unless="${navbarIndicator}" class="nav-item active">
                <a class="nav-link" href="/articulos/new">Artículos</a>
            </li>


            <li class="nav-item">
                <a class="nav-link" href="/vendedor/listado">Vendedores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/clientes/new">Clientes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ventaArticulo/new">Ventas</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <h4 class="mt-4">Nueva Venta</h4>

    <form th:action="@{/venta}" th:object="${venta}" method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="fecha">Fecha</label>
                    <input type="date" class="form-control" id="fecha" th:field="*{fecha}" required>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="descripcion">Descripción</label>
                    <input type="text" class="form-control" id="descripcion" th:field="*{descripcion}" required>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="cliente">Cliente</label>
                    <select class="form-control" id="cliente" th:field="*{cliente.id}" required>
                        <!-- Opciones de clientes desde la base de datos -->
                        <option th:each="cliente : ${listaClientes}" th:value="${cliente.id}" th:text="${cliente.nombre}"></option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="vendedor">Vendedor</label>
                    <select class="form-control" id="vendedor" th:field="*{vendedor.id}" required>
                        <!-- Opciones de vendedores desde la base de datos -->
                        <option th:each="vendedor : ${listaVendedores}" th:value="${vendedor.id}" th:text="${vendedor.nombre}"></option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="formaPago">Forma de Pago</label>
                    <select class="form-control" id="formaPago" th:field="*{ventaFormasPago}" multiple="multiple" required>
                        <!-- Opciones de formas de pago desde la base de datos -->
                        <option th:each="formaPago : ${listaFormasPago}" th:value="${formaPago.id}" th:text="${formaPago.tipo}"></option>
                    </select>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Crear</button>
    </form>

    <div class="container mt-4">
        <h4>Listado de Ventas</h4>
        <table class="table">
            <thead>
            <tr>
                <th>Fecha</th>
                <th>Descripción</th>
                <th>Cliente</th>
                <th>Vendedor</th>
                <th>Forma de Pago</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <!-- Iterar sobre la lista de ventas para mostrar los datos -->
            <tr th:each="venta : ${listaVenta}">
                <td th:text="${venta.fecha}"></td>
                <td th:text="${venta.descripcion}"></td>
                <td th:text="${venta.cliente.nombre}"></td>
                <td th:text="${venta.vendedor.nombre}"></td>
                <td>
                    <!-- Iterar sobre las formas de pago de la venta -->
                    <span th:each="formaPago : ${venta.ventaFormasPago}">
                        <span th:text="${formaPago.tipo}"></span>
                        <span th:if="${!#lists.last(venta.ventaFormasPago)}">, </span>
                    </span>
                </td>
                <td>
                    <a th:href="@{/ventaArticulo/new/{id}(id=${venta.id})}" class="btn btn-primary">Agregar Productos</a>


                </td>
            </tr>
            </tbody>
        </table>
    </div>





</div>



<!-- Agrega las referencias a los archivos de Bootstrap JavaScript y jQuery desde un CDN al final del cuerpo del documento -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
