<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home</title>
    <!-- Agrega las referencias a los archivos de Bootstrap desde un CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  
    <style>
      body {
        font-family: 'Montserrat', sans-serif;
        background-color: #f8f9fa;
        margin: 0;
        padding: 0;
      }
  
      .container {
        background-color: #ffffff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 20px;
        margin-top: 10px;
      }
  
      .navbar {
        background-color: #343a40;
        border-radius: 0;
      }
  
      .navbar-brand {
        font-weight: bold;
        color: #ffffff;
      }
  
      .navbar-toggler-icon {
        background-color: #ffffff;
      }
  
      .navbar-nav {
        margin-left: auto;
      }
  
      .nav-item {
        margin-right: 20px;
      }
  
      .nav-link {
        color: #ffffff;
      }
  
      .nav-link:hover {
        color: #f8f9fa;
      }
  
      h2 {
        color: #007bff;
      }
  
      .text-danger {
        color: #dc3545;
      }
  
      .btn-primary {
        background-color: #007bff;
        border: none;
      }
  
      .btn-primary:hover {
        background-color: #0056b3;
      }
  
      .navbar-nav a,
      .btn-primary {
        transition: color 0.3s ease;
      }
    </style>
  </head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/home">SistVentas</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/proveedor/listado">Proveedores</a>
    </li>
      <!-- Este bloque se mostrará solo si navbarIndicator es verdadero -->
      <li th:if="${navbarIndicator}" class="nav-item " style="position: relative;">
        <a class="nav-link" href="/articulos/new">Artículos</a>
        <div style="position: absolute; top: 50%; right: 0; transform: translate(0, -50%); background-color: red; width: 5px; height: 5px; border-radius: 50%;">
        </div>
      </li>

      <!-- Este bloque se mostrará solo si navbarIndicator es falso -->
      <li th:unless="${navbarIndicator}" class="nav-item">
        <a class="nav-link" href="/articulos/new">Artículos</a>
      </li>


      <li class="nav-item">
        <a class="nav-link" href="/vendedor/listado">Vendedores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/clientes/new">Clientes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/venta/new">Ventas</a>
      <li class="nav-item">
        <a class="nav-link" href="/ventaArticulo/infoVentas">Info Ventas</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
    <!-- Agrega esta sección para mostrar el total de vendedores y clientes -->
    <div class="container">
        <div class="row">
            <!-- Tarjeta para Total de Vendedores -->
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h4>Total de Vendedores: <span th:text="${totalVendedores.size()}"></span></h4>
                    </div>
                </div>
            </div>

            <!-- Tarjeta para Total de Clientes -->
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h4>Total de Clientes: <span th:text="${totalClientes.size()}"></span></h4>
                    </div>
                </div>
            </div>

            <!-- Tarjeta para Total de Artículos -->
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h4>Total de Articulos: <span th:text="${totalArticulos.size()}"></span></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            <!-- Tarjeta con el gráfico de torta -->
            <div class="card">
                <div class="card-body">
                  <h3 class="text-center">Stock</h3>
                    <canvas id="myChart" width="400" height="400"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <!-- Tarjeta con el gráfico de barras -->
            <div class="card">
                <div class="card-body">
                    <canvas id="barChart" width="400" height="400"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <!-- Tarjeta con el gráfico de línea para el porcentaje de cambio -->
            <div class="card">
                <div class="card-body">
                    <canvas id="lineChartPorcentaje" width="400" height="400"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ... (código posterior) ... -->


<script>
    // Resto del script para el gráfico de torta
    function getRandomColor() {
        var letters = '0123456789ABCDEF';
        var color = '#';
        for (var i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }

    // Gráfico de torta
    fetch('/home/index')
    .then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        return response.json();
    })
    .then(articulosMasVendidos => {
        var labels = articulosMasVendidos.map(articulo => articulo.nombre);
        var datos = articulosMasVendidos.map(articulo => articulo.stock);
        var colores = labels.map(() => getRandomColor());

        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: labels,
                datasets: [{
                    data: datos,
                    backgroundColor: colores,
                    borderColor: colores,
                    borderWidth: 1
                }]
            },
            options: {
                plugins: {
                    legend: {
                        display: false // Oculta las etiquetas fuera de la torta
                    }
                }
            }
        });
    })
    .catch(error => console.error('Error fetching data:', error));


    // Gráfico de barras
    fetch('/home/ventasPorMes')
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(ventasPorMes => {
            var meses = ventasPorMes.map(mes => mes.mes);
            var montos = ventasPorMes.map(mes => mes.monto_total);

            var ctx = document.getElementById('barChart').getContext('2d');
            var barChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: meses,
                    datasets: [{
                        label: 'Monto por Mes',
                        data: montos,
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        })
        .catch(error => console.error('Error fetching data:', error));

    // Nuevo bloque para obtener y mostrar el porcentaje de cambio por mes
    fetch('/home/porcentajeCambioPorMes')
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(porcentajeCambioPorMes => {
            var mesesPorcentaje = porcentajeCambioPorMes.map(mes => mes.mes_actual);
            var porcentajes = porcentajeCambioPorMes.map(mes => mes.porcentaje_cambio);

            var ctx = document.getElementById('lineChartPorcentaje').getContext('2d');
            var lineChartPorcentaje = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: mesesPorcentaje,
                    datasets: [{
                        label: 'Porcentaje de Cambio',
                        data: porcentajes,
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1,
                        fill: false  // Sin rellenar debajo de la línea
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        })
        .catch(error => console.error('Error fetching data:', error));
</script>
</body>
</html>
